### Q1

Name the four built-in data structures in python. Give one examples for each

In [2]:
# List data struct
lst = ['Blossom', 'Academy','Fellowship', 'Part Time', 'Cohort', 2023]

# Dictionary data structure
dct = {'name':'Osei Tutu', 'year':2023, 'cohort':'part time'}

# Tuple data structure
tup = ('this', 'is', 'a', 'tuple')

# Set data structure
set_1 = {'set','data structure', 'for','you', 2023}

5

### Q2

State two differences between a list and a tuple in Python.

# Difference between a set and list
1. A set contains unique kinds of object but a list can contain a duplicate
2. Sets are unordered whist list are order

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [25]:
animal_list = ['cat', 'dog', 'snake', 'sheep', 'goat']

# Print the first two animals
animal_list[0:2]

['cat', 'dog']

In [26]:
# Print the last two animals
animal_list[3:5]

['sheep', 'goat']

In [27]:
# Add three extra animals to the variable animal_list
animal_list.extend(['mosquito', 'ant', 'mouse'])

In [28]:
animal_list

['cat', 'dog', 'snake', 'sheep', 'goat', 'mosquito', 'ant', 'mouse']

In [29]:
# Remove the first two animals from the variable animal_list 
# animal_list.remove('cat')
# animal_list.remove('dog')

remove=['cat', 'dog']

animal_list = [a for a in animal_list if a not in remove]

print(animal_list)

['snake', 'sheep', 'goat', 'mosquito', 'ant', 'mouse']

In [30]:
# How many animals are in the animal_list?
print(len(animal_list))

6

In [31]:
# Create a variable animal_set which stores the set of animal_list
animal_set = set(animal_list)
print(animal_set)

{'ant', 'mouse', 'sheep', 'snake', 'goat', 'mosquito'}

In [32]:
# How many elements are in the animal_set?
print(len(animal_set))

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [35]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

# Create a list called first containing only the two first items from suitcase
first = suitcase[0:2]
print(first)

['sunglasses', 'hat']

In [38]:
# Create a list called middle containing only the two middle items from suitcase
middle = suitcase[2:4]
print(middle)

['passport', 'laptop']

In [48]:
# Create a list called last made up only of the last two items from suitcase
last = suitcase[4:6]
print(last)

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [51]:
values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3, 35)
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

Tuples are very much preffered when there is no need changing the items being stored. However, if you want to make changes to the items being stored then list is preffered

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [59]:
region_capital ={'Greater Accra':'Accra', 'Ashanti':'Kumasi', 'Eastern':'Koforidua', 'Bono':'Sunyani', 'Ahafo':'Goaso'}

# Print out the keys of region_capital
print(region_capital.keys())

# Print out the values of region_capital
print(region_capital.values())

dict_keys(['Greater Accra', 'Ashanti', 'Eastern', 'Bono', 'Ahafo'])
dict_values(['Accra', 'Kumasi', 'Koforidua', 'Sunyani', 'Goaso'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [33]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

# What is the total number of elements in values?
print(len(values))

# What is the highest occuring number in the values variable?

def highest_occuring(lst):
    result = {}
    for l in lst:
        if l not in result:
            result[l]= 0
        result[l] += 1
    return result
   
high = highest_occuring(values)

max(high.values())

15

3

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [87]:
dic = {}
for d in range(1,16):
    dic[d] = d**2
    
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [23]:
dic = {'x':[11,12,13,14,15,16,17,18,19,20], 'y':[21,22,23,24,25,26,27,28,29,30], 'z':[31,32,33,34,35,36,37,38,39,40]}

In [26]:
# Access the fifth value of each key from the dictionary
dic['x'][5]

dic['y'][5]

dic['z'][5]

36